.article-main-row {
  padding-left: 1em;
  padding-right: 1em;
}

.article-main-div {
  height: 100%;
  height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available;
}

.article-content-div {
  position: relative;
  margin-left: 1.4em;
  margin-right: 1em;
  min-height: 20em;
  /* height: 100%; */
  background-color: #ffffff;
  margin-top: 5em;
  /* border: 1px solid #e6e6e6; */
  border-radius: 4px 4px 4px 4px;
  padding-top: 1em;
  padding: 1em;
  /* margin-bottom: 8em; */
  word-break: break-word;
}

.article-content img {
  width: auto;
  max-width: 100%;
}

.article-content-div.dark {
  background-color: rgba(255, 255, 255, 0.25);
}

.a-title {
  font-weight: 600;
  color: #000000b7;
  right: 0.5em;
  margin-right: 1.5em;
}

.a-title.dark {
  color: white !important;
  font-weight: 400;
}

.article-content {
  font-size: 1.2em;
}

.article-content.dark {
  color: white;
}

.heart-div {
  position: absolute;
  right: 0em;
  margin-top: 0em;
  height: 3em;
  width: 3em;
  text-align: center;
  border-radius: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.heart {
  margin: 0 auto;
  top: 0;
  bottom: 0;
  font-size: 2em;
}

.filled-heart {
  color: rgb(228, 0, 0);
  margin: 0 auto;
  top: 0;
  bottom: 0;
  font-size: 2em;
}

.article-points {
  right: 0;
  top: 3em;
  position: absolute;
  text-align: center;
  width: 3em;
  font-size: 1em;
  background-color: #1890ff;
  border-radius: 20px;
  color: white;
  margin-top: 0.5em;
}

.article-other-user-data-div {
  padding-left: 1em;
  padding-top: 0.2em;
  margin-bottom: 0.5em;
}

.article-other-user-data-div.dark {
  color: white;
}

.article-user-points {
  display: inline-block;
  height: 1.5em;
  width: auto;
  background-color: #1890ff;
  color: white;
  border-radius: 20px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  /* margin-left: 0.5em; */
  font-size: 1.3em;
  margin-right: 0.2em;
}

.article-dp {
  display: inline-block;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

.article-user-name {
  text-transform: capitalize;
  /* vertical-align: middle; */
}

.article-user-name.dark {
  color: white;
}

.article-other-article-points {
  display: inline-block;
  width: 2.3em;
  text-align: center;
  border-radius: 4px;
  margin-right: 0.3em;
  background-color: #e6e6e6;
  color: black;
}

.article-other-article-points.two {
  background-color: #c3e2ff;
  color: black;
}

.article-other-article-points.three {
  background-color: #1890ff;
  color: white;
}

.article-options-trigger.dark {
  color: white;
}

.report-article-modal.dark .ant-modal-content {
  background-color: rgb(38, 38, 38);
}

.report-article-modal.dark .ant-modal-header {
  background-color: rgb(138, 138, 138);
}

.report-article-modal.dark .ant-modal-body {
  color: white;
}

.left-other-questions-div {
  /* position: fixed; */
  background-color: #ffffff;
  border-radius: 4px;
  margin-top: 5em;
  padding-right: 1em;
  padding-top: 0.5em;
  /* min-width: 20em; */
  padding-bottom: 0.5em;
  max-width: 30em;
  max-height: 85%;
  overflow-y: auto;
  width: inherit;
  z-index: 1;
}

.article-points-div {
  text-align: right;
  position: sticky;
  top: 4.5em;
}

.article-points-div.fallback {
  display: none;
  position: relative;
  top: 0em;
}

.article-options-div {
  position: absolute;
  top: 1.2em;
  right: 2em;
  margin-left: 0.5em;
  cursor: pointer;
}

.ant-avatar > img {
  display: block;
}

.bookmark-icon {
  top: 2em;
  right: 0.3em;
  position: absolute;
  height: 1.5em;
  width: 0.8em;
  font-size: 2em;
  margin-left: 0.3em;
  margin-top: 1em;
  color: white;
  stroke: #1890ff;
  /* color: white; */
  fill: #000000b7;
  outline: 1px solid transparent;
}

/* .bookmark-icon.dark {
  filter: brightness(80%);
} */

.bookmark-icon-mobile-article {
  cursor: pointer;
  position: absolute;
  height: 1.15em;
  top: 0.3em;
  left: 1.8em;
  width: auto;
  font-size: 2em;
  margin-left: 0.3em;
  color: white;
  stroke: #1890ff;
  /* color: white; */
  fill: #000000b7;
  margin-bottom: 0.1em;
  display: none;
  visibility: hidden;
  outline: 1px solid transparent;
}

/* .bookmark-icon-mobile-article.dark {
  filter: brightness(80%);
} */

.article-like-heart-img{
  width: 100%;
  padding: 0.3em;
  outline: 1px solid transparent;
  animation: heart-beat 1s 15s 3
}

.article-like-heart-img.no-anim{
  animation: none;
}

.article-like-heart-img.anim{
  
}

@keyframes heart-beat {
  0% {
    transform: scale(1.2)
  }

  100% {
    transform: scale(1)
  }
}

@media (max-width: 501px) {
  .article-content {
    font-size: 1.1em;
    line-height: 1.3;
  }
  .article-main-row {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 991px) {
  .heart-div,
  .article-points {
    position: initial;
  }
  .article-like-heart-img{
    width: 100%;
    padding: 0.4em;
    padding-top: 0.8em;
  }
  .bookmark-icon-mobile-article {
    display: inline-block;
    visibility: visible;
  }
  .article-content-div {
    margin-left: 0;
    margin-right: 0;
  }
  .article-main-row {
    margin: 0;
  }
  .article-points-div.fallback {
    display: block;
    margin-top: 2em;
  }
}
