.editor-div.profile{
    padding-bottom: 1em;
    max-width: 40em;
}

.post-article-button-div{
position: relative;
width: 100%;
content: "";
text-align: center;
}

.post-article-button{
   margin-top: 1em;
}

.article-editor-preview-image-div{
    font-size: 0.8em;
    margin-top: 0.7em;
    width: 100%;
    border-radius: 4px;
    padding: 0.5em;
    position: relative;
    height: 10em;
    margin-bottom: 4em;
    text-align: center;
}

.article-editor-preview-image-inner-div{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    width: auto;
    background-color: white;
    width: 13.5em;
    height: 10em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.article-editor-preview-image-img-div{
    max-height: 10em;
    max-width: 13.5em;
}

.article-editor-preview-image-img{
    max-height: 10em;
    max-width: 13.5em;
    padding-bottom: 0.4em;
}

.article-editor-preview-image-list-img{
    height: 10em;
    max-width: 13.5em;
    margin: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    cursor: pointer;
}

.article-editor-preview-image-list-noimg{
    height: 10em;
    width: 13.5em;
    margin: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border: 1px dotted gray;
    cursor: pointer;
}