.comment-div {
  margin-top: 1em;
  border: 1px solid #00000021;
  border-radius: 4px;
  padding: 0.5em;
}

.comment-div.dark {
  background-color: rgba(0, 0, 0, 0.21);
}

.comment-inner-content{
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 140px);
}

.comment-author {
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 600;
  /* display: inline-block; */
  color: rgba(0, 0, 0, 0.767);
}

.comment-author:hover {
  text-decoration: underline;
}

.comment-author.dark {
  color: white;
}

.comment-created {
  display: inline-block;
  font-size: 0.9em;
  float: right;
  margin-left: 0.4em;
  color: #0000007a;
}

.comment-created.dark {
  color: rgba(255, 255, 255, 0.541);
}

.individual-comment {
  margin-right: 5em;
  margin-top: 1em;
  /* border-radius: 5px; */
  padding-left: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #00000021;
}

.individual-comment.dark {
  border-bottom: 1px solid #ffffff21;
}

.view-comments-div {
  cursor: pointer;
  margin-top: 1em;
  background-color: rgba(0, 139, 253, 0.145);
  border-radius: 20px;
  padding-left: 1em;
}

.popover-user-data-modal.dark .ant-popover-inner-content {
  background-color: rgb(138, 138, 138);
}

.report-comment-modal.dark .ant-modal-content {
  background-color: rgb(38, 38, 38);
}

.report-comment-modal.dark .ant-modal-header {
  background-color: rgb(138, 138, 138);
}

.report-comment-modal.dark .ant-modal-body {
  color: white;
}

.add-comment-div.dark input {
  background-color: rgb(180, 180, 180);
  color: black;
}

.add-comment-div.dark input::placeholder {
  color: black;
}

.comment-inner-div {
  /* padding-left: 1em; */
  word-break: break-word;
}

.comment-comment {
  color: rgba(0, 0, 0, 0.767);
  display: inline-block;
  width: calc(100% + 100px);
}

.comment-comment.dark {
  color: white;
}

.comments-options-div {
  float: right;
  visibility: hidden;
  transform: translateY(-1.5em);
  text-align: center;
  margin-right: -2.7em !important;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.comment-outer {
  margin-right: -5em;
}

.comment-outer:hover .comments-options-div {
  visibility: visible !important;
}

.comments-options-trigger {
  text-align: center;
  line-height: 0;
  width: 2.5em;
  height: 2.5em;
}

.comments-options-trigger.article{
  padding-right: 0.9em;
}

.comments-options-trigger.dark {
  color: white;
}

.ant-popover {
  z-index: 100 !important;
}

.view-more-div {
  color: #1890ff;
  position: relative;
  height: 2em;
  padding-top: 0.5em;
  padding-left: 0.5em;
}

.view-more-div.dark {
  color: rgba(255, 255, 255, 0.795);
}

.comment-op::before {
  content: "\2022 ";
  color: #1890ff;
}

.comment-op {
  padding-right: 0.5em;
  margin-left: -0.5em;
}

.comment-op.dark {
}

.view-10-more {
  position: absolute;
  left: 1em;
  cursor: pointer;
}

.view-10-more:hover {
  text-decoration: underline;
}

.view-all-comments {
  position: absolute;
  right: 0;
  cursor: pointer;
}

.view-all-comments:hover {
  text-decoration: underline;
}

@media (max-width: 423px) {
  .comment-created {
    display: block;
    margin: 0;
  }
}

.comment-post-button{
  display: none;
  visibility: hidden;
}

@media(max-width: 501px) {
  .add-comment-div.active{
    width: calc(100% - 3em);
    display: inline-block;
  }
  .comment-post-button.active{
    visibility: visible;
    display: inline-block;
    text-align: center;
    margin-left: 0.2em;
    background-color: #1890ff;
    color: white;
    padding: 0.4em;
    border-radius: 4px;
    height: 100%;
  }
}