.editor-div {
  z-index: 999;
  padding-bottom: 3em;
}

.editor-div.dark .ql-toolbar{
  background-color: rgb(180,180,180)
}

.ql-editor{
background-color: white;
}

.answer-button {
  margin-left: 1em;
  border: 0px !important;
  box-shadow: none !important;
  background-color: rgba(185, 185, 255, 0.271) !important;
}

.answer-button-dark{
  margin-left: 1em;
  border: 0px !important;
  box-shadow: none !important;
}

.editor-post-confirm-div {
  width: Auto;
  margin: 0 auto;
  text-align: center;
  margin-top: 1em;
}

.qualification{
  margin-top: 1em;
}

.qualification-input{
  border-radius: 0;
  border: 1px solid #0000002d;
}