.facebook-login-icon {
  height: 2.85em;
  float: left;
}

.facebook-button {
  border-radius: 4px;
  padding: 1px;
  background-color: #4267b2;
  color: white !important;
  width: 100%;
  height: 46px !important;
  box-shadow: none !important;
  top: 0;
  bottom: 0;
  cursor: pointer;
}

.facebook-button.disabled{
    filter: opacity(0.6);
    cursor: default;
}

.facebook-button:hover{
    filter: opacity(0.9);
}

.facebook-button span {
  font-size: 1.2em;
  padding: 8px 10px 10px 0px;
  display: block;
  padding-right: 2em !important;
  font-family: Roboto, sans-serif;
}

.facebook-login-inner-div {
  position: absolute;
  margin: auto;
  height: fit-content;
  top: 0;
  bottom: 0;
  width: 100%;
  margin: 3px;
  margin-left: 2px;
}

@media (max-width: 501px) {
    .facebook-button span{
        font-size: 1em;
        padding: 9px 10px 10px 0px;
    }
  }
  