.feed-question-div {
  display: table;
  margin-bottom: 0em;
  margin-right: auto;
  margin-left: auto;
  /* background-color: rgb(255, 255, 255); */
  width: 25em;
  width: 100%;
  border-radius: 0px;
  box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.08);
  border-inline-end-width: 1em !important;
  padding: 1em;
  height: 5em;
  min-height: 4em;
  cursor: pointer;
  padding-bottom: 0;
}

.feed-question-div.dark {
  background-color: rgb(40, 40, 40) !important;
}

.feed-question-div:hover .q-title {
  text-decoration: underline;
}

.q-title.feed:hover {
  text-decoration: underline;
}

.q-title.dark {
  color: white !important;
  font-weight: 400;
}

.q-title.feed {
  border-bottom: 1px solid #8888884d;
  cursor: pointer;
}

.q-title.feed.dark {
  font-weight: 400;
}

.feed-question-div:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 99%;
  border-bottom: 1px solid #00000021;
  padding-top: 0.5em;
}

.feed-question-div.dark:after {
  border-bottom: 1px solid #ffffff7a;
}

.h3 {
  margin-bottom: 0px !important;
}

.q-info {
  text-align: center;
  width: 7em;
  display: inline-block;
  padding: 0.3em !important;
  margin-bottom: 0.7em !important;
  vertical-align: middle;
  margin-right: 0.5em;
  /* background-color: rgba(239, 83, 80, 0.863); */
  border-radius: 30px;
  font-size: 0.8em;
  color: white;
}

.q-info.dark{
  color:white !important;
}

.q-info-created {
  text-align: left;
  /* width: 14.2em; */
  display: inline-block;
  /* padding: 0.3em !important; */
  margin-bottom: 0.7em !important;
  vertical-align: middle;
  /* margin-left: 0.5em; */
  /* background-color: rgba(239, 83, 80, 0.863); */
  border-radius: 30px;
  font-size: 0.8em;
  color: #0000007a;
}

.q-info-created.dark {
  color: rgba(255, 255, 255, 0.541) !important;
}

.vl {
  border-left: 1px solid #00000021;
  height: 1.2em;
  display: inline-block;
}

.q-title {
  font-size: 1.4em;
  color: rgba(0, 0, 0, 0.65);
  font-weight: 600;
}

.fire-icon {
  width: 2em;
  height: 2em;
  display: inline-block;
  margin-bottom: 0.5em;
  margin-left: -0.3em;
}

.fire-icon.dark {
  filter: saturate(100);
}

.fire-icon-div {
  display: inline-block;
}

.question-trending-activity-span {
  color: rgba(255, 44, 44, 0.795);
  width: auto;
  height: 2em;
  display: inline-block;
  margin-left: -0.3em;
  margin-right: 0.4em;
  vertical-align: middle;
}

.question-trending-activity-span.dark {
  color: red !important;
}

.view-latest-posts-button {
  text-align: center;
  font-size: 1.2em;
  border: 1px solid #e6e6e6;
  margin-bottom: 2em;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  cursor: pointer;
  border-radius: 40px;
  padding: 0.5em;
  /* box-shadow: 0px 0px 10px rgba(92, 92, 92, 0.144); */
  background-color: #adadad34;
}

.no-articles.dark {
  color: white;
}

.view-latest-posts-button.dark {
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
}

.q-title.article {
  color: rgba(0, 0, 0, 0.65);
}

.q-info.name {
  color: #00000099;
  width: auto;
}

.q-info.name.dark {
  color: rgba(255, 255, 255, 0.459);
}

.feed-article-div hr {
  height: 1px;
  color: #00000021;
  background-color: #00000021;
  border: none;
}

.feed-article-div {
  cursor: pointer;
  padding: 1em;
  color: white;
  border-radius: 4px;
  background-color: white;
  margin: 0.3em;
  margin-bottom: 0.6em;
  word-break: break-word;
  border: 1px solid #e6e6e6;
}

.feed-article-div.dark {
  background-color: rgba(255, 255, 255, 0.15);
}

.feed-article-div:hover {
  filter: saturate(130%);
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -0em; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 0em; /* gutter size */
  background-clip: padding-box;
}

.q-info.article {
  /* margin-left: 0.5em; */
  text-align: center;
  padding: 0;
}

.feed-individual-answer {
  position: relative;
  border: 1px solid #8888884d;
  padding: 1em;
  border-radius: 4px;
  margin-bottom: 1em;
  max-width: 100%;
  max-height: 20em;
  background-color: rgb(255, 255, 255);
  overflow-y: hidden;
  min-height: 8em;
}

.feed-individual-answer.dark {
  border: 1px solid #e6e6e6;
}

.feed-individual-answer-answer {
  font-size: 1.2em;
  margin-top: 0.2em;
  color: rgba(0, 0, 0, 0.65);
}

.feed-individual-answer-answer.dark {
  color: white;
}

.feed-individual-answer-name {
  font-size: 1.2em;
  display: inline-block;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.65);
  cursor: pointer;
}

.feed-individual-answer-name.dark {
  color: white;
}

.feed-answer-date {
  font-size: 0.9em;
}

.feed-individual-answer-mask {
  display: none;
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 6em;
  background: -webkit-linear-gradient(transparent, white);
  background: -o-linear-gradient(transparent, white);
  background: -moz-linear-gradient(transparent, white);
  background: linear-gradient(transparent, white 70%);
}

.feed-individual-answer-mask.dark {
  background: -webkit-linear-gradient(transparent, black);
  background: -o-linear-gradient(transparent, black);
  background: -moz-linear-gradient(transparent, black);
  background: linear-gradient(transparent, black 90%);
}

.feed-individual-answer.dark {
  background-color: rgba(255, 255, 255, 0.15);
}

.no-feed-init {
  background-color: white;
  min-height: 10em;
  padding: 1em;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  position: relative;
}

.no-feed-init-content {
  font-size: 1.2em;
  word-break: break-word !important;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: fit-content;
  width: 100%;
}

.follow-categories {
  width: 80% !important;
  max-width: 60em !important;
}

.follow-cat-individual {
  position: relative;
  border: 1px solid #e6e6e6;
  height: 10em;
  width: 90%;
  border-radius: 4px;
  margin: 1em;
  text-align: center;
  padding: 0.5em;
}

.follow-cat-individual-follow-button-div {
  position: absolute;
  bottom: 0.5em;
  left: 0;
  right: 0;
}

.follow-cat-individual-follow-button-div .ant-btn {
  width: 80%;
}

.on-feed-edit-feed {
  padding-right: 0.5em;
  margin-top: -4em;
  border: none;
  margin-left: -0.8em;
  box-shadow: none;
  color: rgba(160, 160, 160, 0.822) !important;
}

.feed-individual-answer-mask-dots {
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 2em;
  color: gray;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.feed-created {
  font-size: 0.9em;
  color: #0000007a;
}

.article-feed-preview-img{
  width: 100%;
  max-height: 20em;
}

@media (max-width: 501px) {
  .feed-individual-answer-answer {
    font-size: 1.1em;
  }
}

@media (max-width: 575px) {
  .q-title {
    font-size: 1.3em;
  }
}
