.google-button button {
  background-color: #4285f4 !important;
  color: white !important;
  width: 100%;
  height: 46px !important;
  box-shadow: none !important;
  border-radius: 4px !important;
  padding: 2px !important;
}

.google-button button div{
  width: 2.9em !important;
  padding: 12px !important;
  padding-bottom: 4px !important;
}

.google-button button div svg{
  transform: scale(1.3);
}

.google-button span {
  font-size: 1.2em;
  text-align: center;
  width: 100%;
  padding: 0 !important;
  padding-right: 2em !important;
}

.google-button {
  text-align: center;
}

@media (max-width: 501px) {
  .google-button span {
    font-size: 1em;
  }
}
