.header-main-div {
  min-height: 2em;
  background-color: #ffffff;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  border: 1px solid #e6e6e6;
  border-right: none;
  border-left: none;
  z-index: 9999;
  position: fixed;
  width: 100%;
  top: 0;
}

.header-main-div.dark{
  border-left: #00000000;
  background-color: rgb(40,40,40)
}

.header-main-div.trans{
   background-color: rgba(255, 255, 255, 0.70) !important;
}

.logo{
  height: 2em;
}

.logo-div{
  padding-left: 9.5em;
  padding-top: 0.2em;
}

@media (max-width: 1599px) {
  .logo-div{
    padding-left: 18%;
  }
}

@media (max-width: 1199px) {
  .logo-div{
    padding-left: 47%;
  }
}
@media (max-width: 991px) {
  .logo-div{
    padding-left: 52%;
  }
}
@media (max-width: 790px) {
  .logo-div{
    padding-left: 52%;
  }
}

