.home-main-div.dark {
  background-color: black !important;
  height: 100%;
  min-height: 100vh;
}

.home-main-div {
  min-height: 100%;
  margin-bottom: 0.3em;
  min-height: 100vh;
}

/*top row*/

.feed-type-row-col {
  /* border-bottom: 1px solid #e6e6e6; */
  display: inline-block;
}

.feed-type-selector{
  /* width: auto; */
    display: inline-block;
     text-align: right;
     width: 6em;
}

.notification-div {
  /* display: table; */
  /* margin-left: auto; */
  padding-top: 0em;
}

/*cat Row*/

.ask-a-question-button-div {
  margin-top: 0.5em;
  min-height: 2em !important;
  min-width: 3em !important;
  display: inline-block;
  margin-left: 1em;
}
.ask-a-question-button {
  width: 8em;
  height: 2em;
  border: none;
  box-shadow: none;
  background-color: red !important;
  color: white !important;
}

.ask-a-question-modal.dark .ant-modal-content {
  background-color: rgb(38, 38, 38);
}

.ask-a-question-modal.dark .ant-modal-header {
  background-color: rgb(138, 138, 138);
}

.ask-a-question-modal.dark .ant-modal-body {
  color: white;
}

.cat-row-button-group {
  min-height: 2em !important;
  min-width: 3em !important;
  /* margin-right: 2em; */
  margin-left: 0em;
  margin-top: 1em;
}

.cat-row-button {
  min-height: 2.5em !important;
  min-width: 8em !important;
  border-color: white;
  text-align: left;
  padding-left: 35%;
  margin: 0;
  border-radius: 0px;
  background-color: white;
}


@media (max-width: 820px) {
  .cat-row-button {
    padding-left: 30%;
  }
}

.cat-row-button.dark {
  border: none;
  background: transparent;
}

.cat-row-button.dark:hover {
  border-color: #1890ff !important;
  border: 1px solid;
}

#first-category-button {
  /* border-top: 1px solid #e6e6e6 !important; */
  border-bottom: 1px solid #e6e6e6;
  /* border-top-left-radius: 4px;
  border-top-right-radius: 4px; */
  height: 3.5em;
}

#last-category-button {
  /* background-color: rgba(0, 0, 0, 0.848);
  color: white; */
  /* border-bottom: 1px solid #e6e6e6 !important; */
  /* border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; */
  box-shadow: none;
}

.cat-span {
  height: 0.65em;
  width: 0.65em;
  border-radius: 50%;
  display: inline-block;
  margin-right: 2px;
}

#anon-id {
  border: 1px solid white;
}

/*Third row*/
.ant-radio-button-wrapper:last-child {
  border-radius: 0px 0px 4px 4px !important;
  width: 100% !important;
  text-align: center;
}
.ant-radio-button-wrapper:first-child {
  border-radius: 4px 4px 0 0px !important;
  width: 100% !important;
  text-align: center;
}

.feed-type-row-button {
  width: 5em;
  border: none;
  box-shadow: none;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: 0.1em;
  height: 2.5em;
  padding-left: 0;
  padding-right: 0;
}

.feed-type-row-button.dark {
  color: white;
}

.ant-btn.feed-type-row-button {
  animation: 0s !important;
  transition: none;
}

[ant-click-animating-without-extra-node]:after {
  animation: 0s !important;
  transition: none;
}

.feed-type-selector-select *{
  animation: 0s !important;
  transition: none;
}

.feed-type-row-button .active {
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-bottom: 2px solid red;
}

.feed-type-row-button:hover{
  background-color: rgba(255,255,255,0);
  color: rgb(64, 169, 255);
}

.feed-type-row-button:focus{
  background-color: rgba(255,255,255,0);
}

.cat-row-button{
   animation: 0s !important;
  transition: none;
}

/*Feed Row*/

.feed-row-col {
  min-height: 10em !important;
  background-color: #ffffffd5 !important;
  margin-top: 9em;
  border: 1px solid #e6e6e6;
  border-radius: 4px 4px 4px 4px;
  margin-right: 1em;
  margin-bottom: 1em;
}

.feed-row-col.articles {
  background: none;
  background-color: #ffffff00 !important;
  border: none;
}

.feed-row-col.feed {
  background: none;
  background-color: #ffffff00 !important;
  border: none;
}

.ask-title-div {
  margin-bottom: 1em;
}

.ask-desc-div {
  margin-top: 1em;
}

.category-selector-div {
  margin-top: 1em;
  margin-bottom: 2em;
}

.home-ask-button {
  animation: 0.2s ease-out 0s 1 slideInFromBottom;
  cursor: pointer;
  position: fixed;
  bottom: 6em;
  right: 2em;
  background-color: #f5222d;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  box-shadow: 0px 4px 10px 2px rgba(128, 128, 128, 0.685);
}

.home-ask-button.dark {
  box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.418);
}

.home-ask-button-horizontal {
  width: 1em;
  height: 0.1em;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
}

.home-ask-button-vertical {
  height: 1em;
  width: 0.1em;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
}

.min-cat-button {
  animation: 0.2s ease-out 0s 1 slideInFromBottom;
  border: none;
  color: white;
  font-size: 1.4em;
  cursor: pointer;
  position: fixed;
  bottom: 7em;
  right: 1.45em;
  background-color: #f5222d;
  width: 2.14em;
  height: 2.14em;
  border-radius: 50%;
  box-shadow: 0px 4px 10px 2px rgba(128, 128, 128, 0.685);
}

.min-cat-button.dark {
  box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.418);
}

.min-cat-button:hover {
  background-color: #f5222d;
  color: white;
}

.none {
  display: none;
  visibility: hidden;
}

@media (max-width: 1199px) {
  .home-content-selector-div {
    padding-left: 6em !important;
  }
}

@media(max-width: 597px) {
  .feed-type-row-col{
    width: 16em !important;
  }
}

@media (max-width: 575px) {
  .feed-row-col{
    margin-right: 0;
  }
  .ask-a-question-button-div {
    display: none;
    visibility: hidden;
  }
  .home-content-selector-div {
    padding-left: 0em !important;
  }
}

@media (min-width: 576px) {
  .home-ask-button-horizontal {
    display: none;
    visibility: hidden;
  }
  .home-ask-button-vertical {
    display: none;
    visibility: hidden;
  }
  .home-ask-button {
    display: none;
    visibility: hidden;
  }
  .home-option-button {
    display: none;
    visibility: hidden;
  }
  .min-cat-button {
    display: none;
    visibility: hidden;
  }
  .cat-row-button-group1 {
    display: none;
    visibility: hidden;
  }
}


.home-option-button {
  cursor: pointer;
  position: fixed;
  bottom: 2em;
  right: 2em;
  background-color: #f5222d !important;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  box-shadow: 0px 4px 10px 2px rgba(128, 128, 128, 0.685);
  z-index: 11;
}

.home-option-button.dark {
  box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.418);
}

.home-option-button-dots {
  width: 100%;
  height: 100%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* background-color: white; */
}

.home-options-dot1 {
  background-color: white;
  border-radius: 50%;
  height: 0.3em;
  width: 0.3em;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0.55em;
  bottom: 0;
}

.home-options-dot2 {
  background-color: white;
  border-radius: 50%;
  height: 0.3em;
  width: 0.3em;
  margin: auto;
  position: absolute;
  top: 0;
  left: 1.35em;
  bottom: 0;
}

.home-options-dot3 {
  background-color: white;
  border-radius: 50%;
  height: 0.3em;
  width: 0.3em;
  margin: auto;
  position: absolute;
  top: 0em;
  left: 2.15em;
  bottom: 0;
}

.home-option-button-horizontal {
  transform: rotate(45deg);
  width: 1em;
  height: 0.15em;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
}

.home-option-button-vertical {
  transform: rotate(45deg);
  height: 1em;
  width: 0.15em;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.cat-row-button-group1 {
  min-height: 2em !important;
  min-width: 3em !important;
  margin-right: 0em;
  margin-left: 0em;
  margin-top: 1.5em;
  background-color: white;
}

.cat-row-button-group1.dark {
  background-color: black;
}

.cat-row-button-group1 .cat-row-button {
  border: none;
  padding-left: 40%;
}

.cat-row-button-group1 #first-category-button {
  border-top: none;
}

.cat-row-button-group1 #last-category-button {
  border: none;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.min-cat-vals-div {
  animation: 0.2s ease-out 0s 1 slideInFromRight;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: auto;
  background-color: white;
  z-index: 10001;
  overflow: auto;
  max-width: 30em;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}

.min-cat-vals-div.dark {
  background-color: black;
}

.min-cat-vals-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.min-cat-vals-close-button {
  animation: 0.2s ease-out 0s 1 slideInFromRight;
  position: fixed;
  top: 0.5em;
  right: 0.5em;
  z-index: 10011;
}

.ant-message {
  z-index: 999999;
}

.feed-sidebar-col {
  max-width: 25em !important;
  height: 100%;
  margin-right: 2em;
  background-color: white;
  z-index: 2;
  border-right: 1px solid #e6e6e6;
  min-height: 100vh;
}

.feed-sidebar-col.dark {
  background-color: rgb(40,40,40);
  border-right: 1px solid #d5d5d5;
}

@media (max-width: 790px) {
  .feed-sidebar-col {
    margin-right: 1em;
  }
}

.catvals-col {
  margin-top: 3.4em;
}

@media (min-height: 413px) {
  .catvals-col {
    position: sticky;
    top: -17em;
  }
}

@media (min-height: 551px) {
  .catvals-col {
    position: sticky;
    top: -7em;
  }
}

@media (min-height: 678px) {
  .catvals-col {
    position: sticky;
    top: 3.4em;
  }
}

.feed-type-selector-select .ant-select-selection {
  border: none;
  background-color: initial;
}

.feed-type-selector-select.dark {
  color: white;
}

.feed-type-selector-select.dark.ant-select-disabled .ant-select-selection-selected-value {
  color: rgba(160, 160, 160, 0.822) !important;
}

.feed-type-selector-select.dark .ant-select-arrow {
  color: white;
}

.home-content-selector-div {
  top: 3.4em;
  height: 3.5em;
  position: absolute;
  z-index: 1;
  width: 100%;
  text-align: center;
  background-color: white;
  border-bottom: 1px solid #e6e6e6;
}

.home-content-selector-div.dark {
  background-color: rgb(40, 40, 40);
  color: white;
}

.home-content-selector {
  width: 50%;
  height: 2em;
  border: none;
  box-shadow: none;
  font-size: 1.4em;
  padding: 0;
  border: 1px solid #1890ff;
}

.home-content-selector.dark {
  background-color: #d5d5d5;
}

.home-content-selector.first {
  border-top-left-radius: 10em;
  border-bottom-left-radius: 10em;
}

.home-content-selector.second {
  border-top-right-radius: 10em;
  border-bottom-right-radius: 10em;
}

.home-content-selector.active {
  background-color: #1890ff;
  color: white;
}

.home-content-selector.first.notactive {
  border-right: none;
}

.home-content-selector.second.notactive {
  border-left: none;
}
