.leaderboard-div {
  padding: 1em;
  padding-top: 8.2em;
  font-weight: bold;
  text-transform: capitalize;
  height: 100%;
  max-width: 25em;
}

.leader-header {
  /* font-weight: bold; */
  /* font-size: 1.2em; */
  border-spacing: 1em;
  margin-left: 1em;
  border-bottom: 1px solid #e6e6e6;
  height: 2.8em;
  display: table-cell;
  vertical-align: middle;
  width: 16em;
  padding-left: 1em;
}

.leader-header.dark {
  color: white;
}

.leader-rank {
  display: inline-block;
  text-align: center;
  margin-right: 0.5em;
  font-size: 1.1em;
  font-weight: 400;
}

.leader-rank.dark {
  color: white;
  font-weight: 400;
}

.leader-avatar {
  margin-right: 0.5em;
  display: inline-block;
}

.leader-name {
  display: inline-table;
  font-weight: 400;
  max-width: 8em;
  word-break: break-word;
  vertical-align: middle;
}

.leader-name.dark {
  color: rgb(230, 228, 228);
  font-weight: 400;
}

.leader-individual-div {
  margin-bottom: 1em;
  cursor: pointer;
  position: relative;
}

.leader-individual-div:hover .leader-name {
  text-decoration: underline;
}

.leader-points {
  border-radius: 20px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  height: 1.5em;
  width: auto;
  background-color: #1890ff;
  color: white;
  position: absolute;
  top: 0.5em;
  right: 1em;
  display: inline-table;
  vertical-align: middle;
}
