.login-col {
  background-color: #ffffffd5;
  border: 1px solid #e6e6e6;
  height: 70%;
   min-height: 30em;
  border-radius: 4px !important;
  padding: 2em;
  text-align: center;
}
.welcome-text {
  color: rgb(68, 68, 68) !important;
}

.login-row {
  z-index: 9999;
  width: 100%;
  height: 45em;
  position: fixed;
  top: 0;
  left: 0;
}

.login-button-div {
  max-width: 20em;
  display: table;
  top: 0;
  left: 0;
  margin: 0 auto;
}

.login-button {
  margin-bottom: 2em;
}
