.top-row {
  min-height: 2em;
  background-color: #ffffff !important;
  background-color: #ffffffee !important;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  border: 1px solid #e6e6e6;
}

.post-row-col {
  min-height: 20em !important;
  /* height: 100%; */
  background-color: #ffffff !important;
  margin-top: 5em;
  /* border: 1px solid #e6e6e6 !important; */
  border-radius: 4px 4px 4px 4px;
  margin-right: 1em;
  margin-left: 1.4em;
}

.post-row-col.dark {
  background-color: rgba(255, 255, 255, 0.25) !important;
}

.post-main-div {
  height: 100%;
  height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available;
}

.post-main-div.dark {
  background-color: rgb(0, 0, 0) !important;
}
.post-main-row.dark {
  background-color: rgb(0, 0, 0) !important;
}

.empty-space.dark {
  background-color: black !important;
}

.post-question-div {
  display: table;
  margin-top: 0em !important;
  margin-right: auto;
  margin-left: auto;
  /* background-color: rgb(255, 255, 255); */
  /* width: 25em; */
  width: 100%;
  border-radius: 0px;
  box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.08);
  /* border-inline-end-width: 1em !important; */
  padding: 1em;
  height: 5em;
  word-break: break-all;
  word-break: break-word;
}

.q-not-answered.dark {
  color: white;
}

.q-description {
  color: rgba(0, 0, 0, 0.767);
  font-size: 1.2em;
}

.q-description.dark {
  color: white !important;
}

.post-answer-div {
  display: table;
  table-layout: fixed;
  /* display: contents; */
  margin-top: 0em !important;
  margin-right: auto;
  margin-left: auto;
  /* background-color: rgb(255, 255, 255); */
  width: 25em;
  width: 100%;
  border-radius: 0px;
  box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.08);
  /* border-inline-end-width: 1em !important; */
  padding: 1em;
  height: 5em;
  min-height: 14em;
}

/* .post-answer-div:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 20%;
  border-bottom: 1px solid #00000021;
} */

/* .answer-padding {
}
.answer-padding:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 99%;
  border-bottom: 1px solid #00000021;
} */

.q-info-created {
  display: inline-block;
  padding: 0.3em !important;
  margin-bottom: 0.7em !important;
  vertical-align: middle;
  margin-left: 0em;
  /* background-color: rgba(239, 83, 80, 0.863); */
  border-radius: 30px;
  font-size: 0.9em;
  color: #0000007a;
}

.q-info-created.post.dark {
  color: rgba(255, 255, 255, 0.541) !important;
}

.q-info-post {
  width: auto;
  text-align: center;
  display: inline-block;
  padding: 0.3em !important;
  margin-bottom: 0.7em !important;
  vertical-align: middle;
  margin-right: 0.1em;
  border-radius: 30px;
  font-size: 0.9em;
  color: #0000007a
}

.q-info-post.dark{
  color: rgba(255, 255, 255, 0.541) !important;
}

.post-bookmark-div {
  top: 1.5em;
  position: sticky;
  right: 0em;
}

.author {
  cursor: pointer;
  display: inline-block;
  font-size: 0.9em;
  color: #0000007a;
  vertical-align: middle;
  padding: 0.3em;
  margin-bottom: 0.7em;
  text-transform: capitalize;
}

.author.dark {
  color: rgba(255, 255, 255, 0.541) !important;
}

.ant-popover-inner-content {
  max-height: 80em !important;
}

.post-answer-list {
  display: table;
  display: contents;
  /* display: block; */
  margin-bottom: 0em;
  margin-right: auto;
  margin-left: auto;
  /* background-color: rgb(255, 255, 255); */
  /* width: 25em; */
  width: 100%;
  border-radius: 0px;
  box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.08);
  border-inline-end-width: 1em !important;
  /* padding: 1em; */
  height: 5em;
  min-height: 4em;
}

.answer-name {
  vertical-align: middle;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 1.3em;
  margin-left: 0.5em;
  color: rgba(0, 0, 0, 0.767);
}

.answer-name.dark {
  color: white;
}

.answer-created {
  margin: 0.2em;
  margin-top: 0.6em;
  font-size: 0.9em;
  color: #0000007a;
  float: right;
}

.answer-created.dark {
  color: rgba(255, 255, 255, 0.541);
}

.answer-answer {
  overflow: auto;
  margin-top: 0.5em;
  min-height: 3em;
  /* text-align: justify; */
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.767);
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

.answer-answer.dark {
  color: white;
}

.answer-answer img {
  width: auto;
  max-width: 100%;
}

.vote-col {
  min-height: 15em;
  height: 100%;
}

.question-options-col {
  min-height: 0em;
  height: 100%;
}

.vote-div {
  /* margin-top: 5em; */
  /* background:red; */
  position: absolute;
  /* color:#fff; */
  top: 50%;
  margin-top: 1.7em;
  left: 50%;
  padding-right: 1em;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.question-options-div {
  content: "";
  /* margin-top: 5em; */
  /* background:red; */
  position: absolute;
  /* color:#fff; */
  top: 0%;
  margin-top: 2em;
  left: 38%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.question-options-div-trigger.dark {
  color: white !important;
}

.answer-options-trigger.dark {
  color: white !important;
}

.question-options-div-trigger {
  text-align: center;
  padding-top: 0.5em;
  width: 2.5em;
  height: 2.5em;
}

.answer-options-trigger {
  text-align: center;
  padding-top: 0.5em;
  width: 2.5em;
  height: 2.5em;
}

.answer-options-div {
  /* margin-top: 5em; */
  /* background:red; */
  position: absolute;
  /* color:#fff; */
  top: 0%;
  margin-top: 2em;
  left: 38%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.empty-space {
  content: "";
  padding-bottom: 2em;
}

.answer-qualifcation {
  border-radius: 10px;
  /* background-color: rgba(0, 139, 253, 0.145); */
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-top: 0.4em;
  border-width: 1px;
  border-style: solid;
  /* margin-left: -0.5em; */
}

.answer-qualifcation.dark {
  color: rgba(255, 255, 255, 0.651);
}

.report-div {
  width: 17em;
  margin: 0 auto;
}

.report-selector {
  width: 17em;
  margin: 0 auto;
}

.qn-ans-seperator {
  margin-top: 1.5em;
}

.other-question-div {
  margin: 1em;
}

.post-answer-div-row {
  border-bottom: 2px solid;
  border-top: 2px solid;
  /* border-radius: 4px; */
}

.other-questions-div {
  margin-top: 5em;
  margin-bottom: 0em;
  z-index: 1;
}

.other-questions-inner-div{
  border-radius: 4px;
  padding-right: 1em;
  padding-top: 0.5em;
  /* min-width: 20em; */
  padding-bottom: 0.5em;
  max-width: 30em;
  width: 100%;
  min-width: 100%;
  /* max-height: 85%; */
  overflow-y: auto;
  width: inherit;
  word-wrap: break-word;
  background-color: #ffffff;
}

.other-questions-inner-div.dark {
  background-color: rgba(255, 255, 255, 0.25);
}

.post-main-row {
  padding-left: 1em;
  padding-right: 1em;
}

/* .bookmark-icon.dark {
  filter: brightness(80%);
} */

.bookmark-icon-mobile {
  cursor: pointer;
  height: 1.15em;
  width: auto;
  font-size: 2em;
  margin-left: 0.3em;
  color: white;
  stroke: #1890ff;
  /* color: white; */
  fill: #000000b7;
  margin-bottom: 0.1em;
  display: none;
  visibility: hidden;
}

/* .bookmark-icon-mobile.dark {
  filter: brightness(80%);
} */

@media (max-width: 991px) {
  .bookmark-icon-mobile {
    display: inline-block;
    visibility: visible;
  }
  .other-questions-div {
    /* min-width: 90%; */
    margin: 0 auto;
    margin-top: 2em;
    position: initial !important;
    min-width: initial !important;
    max-width: 100%;
  }

  .post-row-col {
    margin-left: 0;
    margin-right: 0;
  }

  .post-main-row {
    margin: 0;
  }

  .ant-popover-placement-bottom > .ant-popover-content > .ant-popover-arrow {
    display: none;
  }
}

.report-question-modal.dark .ant-modal-content {
  background-color: rgb(38, 38, 38);
}

.report-question-modal.dark .ant-modal-header {
  background-color: rgb(138, 138, 138);
}

.report-question-modal.dark .ant-modal-body {
  color: white;
}

.report-answer-modal.dark .ant-modal-content {
  background-color: rgb(38, 38, 38);
}

.report-answer-modal.dark .ant-modal-header {
  background-color: rgb(138, 138, 138);
}

.report-answer-modal.dark .ant-modal-body {
  color: white;
}

.other-question-heading {
  padding-left: 1em;
  font-weight: bold;
  margin-bottom: 0;
}

.other-question-heading.dark {
  color: white;
}

.ql-syntax {
  background-color: #eceff1;
  /* color: white; */
  border-radius: 4px;
  font-size: 0.9em;
  padding: 1em;
}

.post-answer-user-rate-div {
  margin-left: 0.2em;
  display: inline-block;
  height: 1em;
  vertical-align: sub;
}

.post-answer-user-rate .anticon svg {
  width: 0.6em;
  height: 0.6em;
}

.bookmark-icon-post {
  top: 2em;
  right: 0.3em;
  position: absolute;
  height: 1.5em;
  width: 0.8em;
  font-size: 2em;
  margin-left: 0.3em;
  margin-top: 1em;
  color: white;
  stroke: #1890ff;
  /* color: white; */
  fill: #000000b7;
}

.go-to-top-button-div {
  display: none;
  visibility: hidden;
  position: fixed;
  bottom: 2em;
  left: 4em;
  text-align: center;
}

.go-to-top-button {
  padding: 0;
  margin: 0;
  height: 3em;
  width: 3em;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 4px 10px 2px rgba(128, 128, 128, 0.445);
}

.go-to-top-button.dark {
  box-shadow: 0px 2px 5px 2px rgba(128, 128, 128, 0.301);
  color: black;
  background-color: rgb(180, 180, 180);
}

ul,
ol,
dl {
  padding-left: 1.1em;
}

.no-articles.dark {
  color: rgba(255, 255, 255, 0.651);
}

.q-post-title {
  color: #000000b7;
  font-weight: 600;
}

.q-post-title.dark {
  color: white !important;
  font-weight: 400;
}

.follow-user-div {
  display: inline-block;
  padding: 0;
  margin-left: 0.5em;
}

.follow-user-div.unfollow .user-add-button{
 background-color: #ccc;
 color: white;
}

.follow-user-div.unfollow .user-add-text{
  color: white !important;
 }

.user-add-text {
  display: none;
  visibility: hidden;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes cssAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%
  }
}
.follow-user-div:hover .user-add-text {
  animation: 0.1s ease-out 0s 1 slideInFromLeft;
  display: inline-block;
  visibility: visible;
  padding-left: 0.1em;
  color: #1890ff;
}

.follow-user-div:hover .user-add-button {
  width: 5em;
  -webkit-transition: none;
  transition: none;
}

.follow-user-div.unfollow:hover .user-add-button{
  width: 6em;
}

.user-add-button {
  border-radius: 50px;
  height: 2em;
  min-width: 2em;
  width: 2em;
  padding: 0.2em !important;
  text-align: center;
}

@media (max-width: 501px) {
  .other-questions-div {
    min-width: 100%;
  }
  .answer-answer {
    font-size: 1.1em;
    line-height: 1.3;
  }
  .q-description {
    font-size: 1.1em;
    line-height: 1.3;
  }
  .answer-qualifcation {
    font-size: 1.1em;
    line-height: 1.3;
  }
}

@media (max-width: 701px) {
  .answer-created {
    float: none;
  }
  .answer-qualifcation {
    margin-left: -0.5em;
  }
}

.ant-popover {
  z-index: 100 !important;
}

.ant-avatar > img {
  width: auto;
  height: auto;
  display: inline-block;
  max-width: 100%;
  /* max-height: 100%; */
}

@media (max-width: 501px) {
  .post-main-row {
    padding-left: 0;
    padding-right: 0;
  }
}
