.user-profile-main-div.dark {
  background-color: black;
  height: 100%;
  height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available;
  height: stretch;
}

.profile-row {
  /* background-color: white; */
  margin-top: 4em;
  /* border: 1px solid #e6e6e6; */
  /* padding-top: 2em; */
  padding-bottom: 2em;
  overflow: hidden;
}

.profile-row.dark{
  background-color: black;
}

.profile-first-col {
  position: sticky;
  top: 3.4em;
  overflow: hidden;
  text-align: center;
  /* max-width: 10em; */
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
  border-top: 2px solid rgb(196, 228, 255);
  background-color: white;
  z-index: 1;
  min-height: 3em;
  height: auto;
}

.profile-first-col.dark{
  background-color: initial;
  border-top: none;
}

.profile-content-div {
  margin-top: 2em;
  /* border-left: 1px solid #e6e6e6; */
}

.profile-other-operations-button {
  box-shadow: none;
  /* margin-left: 2em; */
  width: auto;
  border: 1px solid rgba(255, 254, 254, 0);
  border-radius: 0px;
  font-weight: bold;
  padding: 0;
}

.profile-other-operations-button.dark{
  background-color: rgba(255,255,255,0);
  color: white;
}

#profile-profile-button,
#profile-bookmarks-button,
#profile-account-button {
  border-right: 1px solid #e6e6e6;
  height: 3em;
}

#profile-pro-button {
  background-color: #fbd400;
  color: red;
}

.profile-selector-button {
  height: 3em;
  text-align: center;
  width: 30%;
  min-width: 6em;
  max-width: 12em;
  border: 1px solid rgba(255, 254, 254, 1);
  border-radius: 0px;
  font-weight: bold;
  box-shadow: none;
}

.profile-selector-button.dark{
  background-color: rgba(255,255,255,0.741);
  color: black;
}

.profile-selector-button-active {
  height: 3em;
  text-align: center;
  width: 30%;
  min-width: 6em;
  max-width: 12em;
  border: 1px solid rgba(255, 254, 254, 0);
  border-radius: 0px;
  font-weight: bold;
  background-color: rgb(196, 228, 255);
}

.profile-selector-button-active:focus {
  height: 3em;
  text-align: center;
  width: 30%;
  min-width: 6em;
  max-width: 12em;
  border: 1px solid rgba(255, 254, 254, 0);
  border-radius: 0px;
  font-weight: bold;
  background-color: rgb(196, 228, 255);
}

.profile-selector-divider {
  content: "";
  height: 1px;
  border-bottom: 1px solid #e6e6e6;
  box-shadow: none;
}

.profile-content-div {
  padding-left: 1em;
  padding-right: 1em;
}

.profile-dp {
  margin: 0 auto;
  margin-bottom: 1em;
  height: 6em;
  width: 6em;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  /* position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  position: absolute; */
  /* float: left; */
  background-size: cover;
  background-position: center center;
}

.bio-info-table {
  margin: 0 auto;
}

.profile-name {
  text-transform: capitalize;
}

.profile-all {
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  font-size: 1.3em;
  background-color: white;
  max-width: 40em;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  padding: 1em;
}

.profile-all.dark{
  background-color: rgba(255,255,255,0.15);
  color: white;
}

.profile-title {
  font-weight: bold;
}

.profile-divider {
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 1em;
  padding-bottom: 0.2em;
}

.bookmark-cat-button {
  width: 50%;
  border-radius: 0;
}
.bookmark-cat-button.active {
  width: 50%;
  border-radius: 0;
  background-color: rgb(196, 228, 255);
  border: 1px solid rgba(255, 254, 254, 0);
}

.bookmark-title:before {
  content: "• ";
  color: red;
}

.bookmark-title {
  cursor: pointer;
}

.bookmark-title-div {
  position: relative;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background-color: rgba(236, 236, 236, 0.445);
  padding: 1em;
}

.bookmark-title:hover {
  text-decoration: underline;
}

.bookmark-title-div:hover .bookmark-delete {
  visibility: visible;
  display: block;
}

.bookmark-delete {
  cursor: pointer;
  position: absolute;
  top: 0.2em;
  right: 0.2em;
  visibility: hidden;
  display: none;
}

.profile-user-data-error {
  padding-left: 1em;
  margin: 0 auto;
  left: 0;
  right: 0;
}

@media (max-width: 501px) {
  .profile-selector-button-active:focus {
    width: 50%;
    max-width: 100%;
    height: 2.5em !important;
  }
  .profile-selector-button {
    width: 50%;
    max-width: 100%;
    height: 2.5em !important;
  }
  .profile-selector-button-active {
    width: 50%;
    max-width: 100%;
    height: 2.5em !important;
  }

  .profile-options {
    display: none;
    width: 0;
  }

  .profile-row {
    border-right: none;
    border-left: none;
    margin-top: 2em;
  }

  .profile-all {
    margin-top: 0em;
    font-size: 1em;
    overflow: auto;
  }

  .profile-middle {
    width: 79%;
  }

  .profile-all table {
    width: 100%;
  }

  .profile-content-div {
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .profile-other-operations-button {
    font-size: 1em;
    width: 10em;
    padding: 0;
    background-color: rgba(255, 255, 255, 0);
  }
  .profile-edit-profile-bio {
    font-size: 1em;
    /* width: 10em !important; */
  }
  .profile-selector-button {
    font-size: 1em;
  }
  .profile-selector-button-active {
    font-size: 1em;
  }
}

.profile-gender {
  text-transform: capitalize;
}

.profile-description {
  font-size: 1em;
  text-align: justify;
  max-width: 30em;
}

.profile-edit-profile-bio {
  /* margin-left: 2em; */
  width: 100%;
  margin-bottom: 1em;
}

.profile-profile-edit-modal-div {
  margin: 1em;
}

.profile-profile-edit-modal.dark .ant-modal-content{
  background-color: rgb(38,38,38);
}

.profile-profile-edit-modal.dark .ant-modal-header{
  background-color: rgb(138,138,138);
}

.profile-profile-edit-modal.dark .ant-modal-body{
  color: white;
}

.profile-edit-bio-modal.dark .ant-modal-content{
  background-color: rgb(38,38,38);
}

.profile-edit-bio-modal.dark .ant-modal-header{
  background-color: rgb(138,138,138);
}

.profile-edit-bio-modal.dark .ant-modal-body{
 color: white;
}

.password-change-modal.dark .ant-modal-content{
  background-color: rgb(38,38,38);
}

.password-change-modal.dark .ant-modal-header{
  background-color: rgb(138,138,138);
}

.password-change-modal.dark .ant-modal-body{
 color: white;
}

.profile-gender-select {
  min-width: 10em;
}

.profile-image-upload-image {
  width: 6em !important;
  height: 6em !important;
  object-fit: cover;
}

.profile-password-field {
  margin: 0 auto;
  margin-bottom: 2em;
  width: 20em;
}

.profile-follow-button{
  text-align: center;
  color: rgba(0, 0, 0, 0.45);
  float: right;
  padding: 0.3em;
  background-color: white;
  border-radius: 50px;
  width: 6em;
  font-size: 1em;
  margin-top: 0.4em;
  cursor: pointer;
  border: 1px solid rgba(0,0,0,0.2);  
}
