.profile-main-div {
  display: inline-block;
}

.first-row-button-group {
  margin-top: 0.3em;
  float: right;
  margin-right: 2em;
}

.notif-icon-div {
  display: inline-block;
}

.first-row-button {
  border: 0px solid #e6e6e6 !important;
  box-shadow: 0px 0px 0px 0 !important;
}

.first-row-name-group {
  display: inline-block;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  margin-right: 2em;
  margin-left: 1em;
  text-transform: capitalize;
}

.first-row-name-group.dark {
  color: white;
}

.arrow {
  width: 1em;
  height: 1em;
}

.arrow-span {
  border-radius: 20px;
  margin: 0.3em;
  border: 1px solid #e6e6e6 !important;
  padding: 0.2em;
}

.arrow-span.dark {
  background-color: #ffffffb3;
}

.message {
  width: 1.5em;
  height: 1.5em;
  padding-bottom: 0.2em;
}

.message-span {
  border-radius: 20px;
  margin: 0.2em;
  border: 1px solid #e6e6e6 !important;
  background-color: #ffffff79;
  padding: 0.3em;
}

.notif {
  width: 1.5em;
  height: 1.5em;
  padding-bottom: 0.2em;
}

.notif-span {
  border-radius: 20px;
  background-color: #ffffff79;
  margin: 0.2em;
  border: 1px solid #e6e6e6 !important;
  padding: 0.3em;
}

.notif-span.dark {
  background-color: #ffffffb3;
}

.message-span.dark {
  background-color: #ffffffb3;
}

.message-created-date {
  padding-left: 1.5em;
  font-size: 0.8em;
  float: right;
  padding-top: 0.2em;
}

.message-name {
  font-weight: bold;
}

.message-outer-div {
  display: block;
  max-height: 30em;
  overflow-y: auto;
}

.individual-message {
  cursor: pointer;
  min-width: 20em;
  max-width: 25em;
  width: 100%;
  border-bottom: 1px solid #00000038;
  padding: 1em;
}

.individual-message:hover {
  box-shadow: 0px 0px 4px 3px rgba(87, 87, 87, 0.1) inset;
  border-radius: 4px;
  cursor: pointer;
  min-width: 20em;
  max-width: 25em;
  padding: 1em;
}

.individual-message-unread {
  font-weight: bold;
  cursor: pointer;
  background-color: #c2c8ff5e;
  min-width: 20em;
  max-width: 25em;
  width: 100%;
  border-bottom: 1px solid #00000038;
  padding: 1em;
}

.individual-message-unread:hover {
  box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.1) inset;
  cursor: pointer;
  background-color: #6fb8fc2a;
  min-width: 20em;
  max-width: 25em;
  padding: 1em;
}

.message-list-avatar-div {
  display: inline-block;
  vertical-align: top;
  margin-right: 0.5em;
}

.message-list-details-div {
  display: inline-block;
  width: 18em;
}

.messages-convo {
  height: 100%;
  width: 100%;
}
.ant-drawer-title {
  color: rgba(0, 0, 0, 0.65) !important;
  font-weight: bold;
}

.convo-message-from-div {
  border: 1px solid #00000038;
  width: 70%;
  float: left;
  background-color: #00c3ff10;
  margin-bottom: 1em;
  border-radius: 5px;
  padding: 1em;
}

.convo-message-to-div {
  border: 1px solid #00000038;
  float: right;
  width: 70%;
  margin-bottom: 1em;
  background-color: #0004ff10;
  border-radius: 5px;
  padding: 1em;
}

.message-popover .ant-popover-inner-content {
  padding: 0;
}

.notif-popover .ant-popover-inner-content {
  padding: 0;
}

.convo-drawer.dark .ant-drawer-content-wrapper .ant-drawer-content {
  background-color: rgb(38, 38, 38);
}

.convo-drawer.dark
  .ant-drawer-content-wrapper
  .ant-drawer-content
  .ant-drawer-header {
  background-color: #d5d5d5;
  color: white;
}

.convo-drawer.dark .ant-drawer-content-wrapper .ant-drawer-content .ant-input {
  background-color: #d5d5d5;
  color: black;
}

.convo-drawer.dark
  .ant-drawer-content-wrapper
  .ant-drawer-content
  .ant-input::placeholder {
  color: black;
}

.message-send-button {
  width: 2em;
  position: absolute;
  bottom: 1.5em;
  right: 0.5em;
}

.convo-drawer {
}

.convo-drawer
  .ant-drawer-content-wrapper
  .ant-drawer-content
  .ant-drawer-header
  .ant-drawer-title {
  /* color: white !important; */
}

.convo-message-to-div.dark {
  background-color: #bebeff;
}

.convo-message-from-div.dark {
  background-color: #c7effb;
}

.convo-message-name {
  font-weight: bold;
  text-transform: capitalize;
}

.convo-message-time {
  font-size: 0.8em;
}

.type-a-message-div {
  width: 100%;
  position: absolute;
  bottom: 0em;
  left: 50%;
  margin-left: -50%;
  background-color: white;
}

.type-a-message {
  display: inline;
  border-radius: 0px;
  border: 1px solid #00000038;
  color: black !important;
}

.convo-spacer {
  content: "";
  padding: 1em;
}

.last-empty-element {
  /* border: 1px solid #00000038; */
  width: 70%;
  float: left;
  /* background-color: #00c3ff10; */
  margin-bottom: 3em;
  border-radius: 5px;
  padding: 1em;
}

.ant-drawer-header {
  position: absolute;
  width: 100%;
  border-radius: 0 !important;
}

.ant-popover-inner-content {
  max-height: 80em !important;
  overflow-y: auto;
}

.ant-drawer-title {
  text-transform: capitalize;
}

.message-name {
  text-transform: capitalize;
}

.notif-outer-div {
  display: block;
  max-height: 30em;
  overflow-y: auto;
}

.notif-content-inner-div {
  font-weight: bold;
  cursor: pointer;
  min-width: 25em;
  max-width: 30em;
  width: 30em;
  border-bottom: 1px solid #00000038;
  padding: 1em;
}

.notif-unread-content-inner-div {
  font-weight: bold;
  cursor: pointer;
  background-color: #6fb8fc5e;
  min-width: 25em;
  max-width: 30em;
  width: 30em;
  border-bottom: 1px solid #00000038;
  padding: 1em;
}

.notif-content-inner-div:hover {
  box-shadow: 0px 0px 4px 3px rgba(87, 87, 87, 0.1) inset;
  border-radius: 4px;
  cursor: pointer;
  min-width: 25em;
  max-width: 30em;
  padding: 1em;
  width: 30em;
}

.notif-unread-content-inner-div:hover {
  box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.1) inset;
  cursor: pointer;
  background-color: #6fb8fc2a;
  min-width: 25em;
  max-width: 30em;
  padding: 1em;
  width: 30em;
}

.notif-created-date {
  padding-left: 1.5em;
  font-size: 0.8em;
  float: right;
}

.notif-preview-div {
  font-weight: 400;
  white-space: pre-line;
}

.ant-drawer-content-wrapper {
  width: 30% !important;
  min-width: 30em;
}

.mark-all-as-read {
  cursor: pointer;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  font-size: 0.9em;
  border-radius: 4px;
  text-align: center;
  margin-left: 0em;
  background-color: rgb(231, 231, 231);
}

.ant-drawer {
  z-index: 10000 !important;
}

.popup-login-button {
  width: 70%;
  max-width: 70%;
  text-align: center;
  margin: auto;
}

.dark-mode-switch-div .ant-switch-checked {
  background-color: black;
  color: white;
}

.notif-icon-img {
  width: 100%;
}

.compliance-consent{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  
  width: 100%;
  z-index: 9999999;
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 0.5em;
}

@media (max-width: 501px) {
  .popup-login-button {
    width: 100%;
    max-width: 100%;
  }
  .popup-login-button button {
    font-size: 1em !important;
  }
  .ant-drawer-content-wrapper {
    width: 100% !important;
    min-width: 0 !important;
  }
  .first-row-name-group {
    margin-right: 0em;
  }
  .profile-main-div {
    text-align: center;
    left: 0;
    right: 0;
    display: block;
    margin: 0 auto;
  }
  .type-a-message-div textarea {
    width: calc(100% - 3em);
  }
}

@media (min-width: 502px) {
  .message-send-button{
    display: none;
    visibility: hidden;
  }
}

.notif-icon-img {
  padding-right: 1em;
  padding-top: 0.3em;
}

@media (max-width: 577px) {
  .ant-popover-placement-bottom > .ant-popover-content > .ant-popover-arrow {
    display: none;
  }
  .message-list-details-div {
    width: 80%;
  }
  .notif-unread-content-inner-div,
  .notif-content-inner-div,
  .notif-unread-content-inner-div:hover,
  .notif-content-inner-div:hover {
    max-width: 25em !important;
    min-width: 20em !important;
    width: 100%;
  }
}

@media (min-width: 327px) and (max-width: 501px) {
  .first-row-name-group {
    margin-right: 2em !important;
  }
}

@media (max-width: 991px) {
  .consent-accept-span{
    display: block !important;
    padding: 0;
    margin-bottom: 1em;
    margin-top: 1em;
  }
}