.public-profile-main-div {
  position: fixed;
  margin-top: 4em;
  padding-top: 1em;
  padding-bottom: 1em;
  min-width: 10em;
  /* min-height: 10em; */
  width: auto;
  min-width: 25em;
  height: auto;
  /* background-color: rgb(255, 255, 255); */
  /* border: 1px solid #e6e6e6; */
  z-index: 3;
  height: 100%;
  max-height: 50em;
}

.profile-first-row {
  height: 100%;
}

.user-data-dp-div {
  position: relative;
  height: 100%;
  max-height: 14em;
  width: 100%;
  background-clip: padding-box;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  /* position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  position: absolute; */
  /* float: left; */
  background-size: cover;
  background-position: center center;
}

.dp-outer-div {
  max-height: 40%;
  height: 40%;
  width: 100%;
  min-height: 12em;
}

.user-details-bio {
  /* padding-left: 2em; */
  text-align: left;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  /* min-height: 100%; */
}

.user-name {
  text-align: left;
  font-size: 2.5em;
  font-weight: 400 !important;
  text-transform: capitalize;
  /* background-color: rgba(255, 255, 255, 0.80); */
  /* width: max-content; */
  /* width: 100%; */
  /* padding-left: 1em; */
  /* padding-right: 1em; */
  border-radius: 50px;
  display: inline-block;
}

.bio-first-col {
  margin-left: 20%;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 4px;
  background-color: white;
  text-align: center;
  max-width: 15em;
  height: 90%;
  overflow-y: auto;
  border: 1px solid #8888884d;
}

.bio-first-col.dark {
  box-shadow: 0 0 0;
}

.bio-content-row {
  width: 100%;
  background-color: #e6e6e6;
  padding-top: 2em;
}

.bio-content-row.dark {
  background-color: initial;
}

.user-points {
  font-size: 1.3em;
  height: 1.5em;
  display: inline-block;
  margin-left: 2em;
  width: auto;
  background-color: #1890ff;
  /* border: 1px solid #1890ff; */
  color: white;
  border-radius: 20px;
  padding-left: 0.7em;
  padding-right: 0.5em;
  bottom: 0.7em;
  position: absolute;
}

.user-points-points{
  display: inline-block;
  vertical-align: top;
}

.article-editor-div.dark .ql-toolbar {
  background-color: rgb(180, 180, 180);
}

.first-col {
  max-width: 25em;
  padding-right: 1em;
  height: 100%;
  /* border-right: 1px solid #8888884d; */
}

.bio-first-col.dark {
  background-color: rgb(38, 38, 38);
}

.bio-flag {
  bottom: 0.5em;
  right: 1em;
}

.bio-flag-img {
  height: 2em;
}

.top-cover-content-div {
  background-size: cover;
}

.top-cover-content-div-inner {
  height: 100%;
  width: 100%;
  padding-top: 16em;
  padding-left: 25em;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(0, 0, 0, 0.274),
    rgba(0, 0, 0, 0.808)
  );
  color: white;
}

.bio-content {
  /* padding-top: 0.5em; */
  padding-bottom: 0.5em;
  font-size: 1.2em;
  /* background-color: white; */
  width: auto;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1.3em;
  /* margin-top: 1em; */
  min-height: 100%;
  margin-left: 18.2em;
}

.bio-error {
  font-size: 3em;
  text-align: center;
}

.num-answers {
  cursor: pointer;
  color: #1890ff;
  /* border-bottom: 1px solid #8888884d; */
  /* border-top: 1px solid #8888884d; */
}

.num-questions {
  /* border-top: 1px solid #8888884d; */

  cursor: pointer;
  color: #1890ff;
}

.bio-link {
  /* border-top: 1px solid #8888884d; */
  /* background-color: rgba(255, 255, 255, 0.37); */
  cursor: pointer;
  color: #1890ff;
}

.bio-link:hover {
  text-decoration: underline;
}

.bio-individual-question-title {
  font-size: 1.1em;
  font-weight: 600;
}

.bio-individual-question-title.dark {
  color: white;
}

.bio-individual-question {
  cursor: pointer;
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #8888884d;
  padding: 1em;
  border-radius: 4px;
  margin-bottom: 1em;
  max-width: 40em;
  background-color: rgb(255, 255, 255);
}

.bio-individual-question.dark {
  background-color: rgba(255, 255, 255, 0.15);
}

.bio-individual-question:hover .bio-individual-question-title {
  text-decoration: underline;
}

.bio-description {
  border-bottom: 1px solid #8888884d;
  overflow-y: auto;
  text-align: left;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 0.9em;
  background-color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
  color: #676767;
  height: auto;
  min-height: 10%;
  max-height: 45%;
  word-wrap: break-word;
  text-align: center;
  padding-bottom: 0.5em;
}

.bio-description.dark {
  background-color: rgb(38, 38, 38);
  color: white;
  font-weight: 400;
}

.profile-read-more {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8em;
  background: -webkit-linear-gradient(transparent, white);
  background: -o-linear-gradient(transparent, white);
  background: -moz-linear-gradient(transparent, white);
  background: linear-gradient(transparent 10%, white 90%);
}

.profile-read-more.dark {
  background: -webkit-linear-gradient(transparent, #5f5f5f);
  background: -o-linear-gradient(transparent, #5f5f5f);
  background: -moz-linear-gradient(transparent, #5f5f5f);
  background: linear-gradient(transparent 10%, #5f5f5f 90%);
}

.profile-read-more-inner {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #1890ff;
  font-weight: 400;
  font-size: 0.9em;
}

.bio-description.gradient.dark {
  color: white;
}

.bio-question-date {
  font-size: 0.8em;
}

.num-answers-outer-div {
  /* background-color: rgba(255, 255, 255, 0.37); */
}

.num-questions-outer-div {
  /* background-color: rgba(255, 255, 255, 0.37); */
}

.num-questions-outer-div:hover {
  text-decoration: underline;
}

.num-answers-outer-div:hover {
  text-decoration: underline;
}

.bio-individual-answer {
  cursor: pointer;
  border: 1px solid #8888884d;
  padding: 1em;
  border-radius: 4px;
  margin-bottom: 1em;
  max-width: 40em;
  background-color: rgb(255, 255, 255);
}

.bio-individual-answer.dark {
  background-color: rgba(255, 255, 255, 0.15);
}

.bio-individual-answer-answer {
  overflow: auto;
  background-color: rgb(255, 255, 255);
  text-align: left;
  margin-top: 0.5em;
  font-size: 0.92em;
}

.bio-individual-answer-answer.dark {
  background-color: rgb(38, 38, 38);
  color: white;
}

.bio-answer-date {
  font-size: 0.7em;
  padding-top: 0em;
  color: #64646496;
}

.bio-answer-date.dark {
  color: rgba(255, 255, 255, 0.541);
}

.num-answers-table {
  width: 100%;
}

.bio-individual-answer-question-title {
  margin-bottom: 0.5em;
  font-weight: bold;
  border-bottom: 1px solid #8888884d;
  font-size: 1.1em;
}

.bio-individual-answer-question-title.dark {
  color: white;
  font-weight: 400;
}

.bio-individual-answer-name {
  display: inline-block;
  text-transform: capitalize;
  font-size: 0.92em;
}

.bio-individual-answer-name.dark {
  color: white;
}

.user-action-button {
  border: 1px solid #fcfcfc00;
}

.profile-links {
  height: 15%;
  min-height: 15%;
  font-weight: 400;
  border-top: 1px solid #8888884d;
  background-color: white;
  z-index: 1;
  padding-top: 0.5em;
}

.profile-user-created.dark{
  color: white
}

.profile-links.dark {
  background-color: initial;
}

.profile-description-modal .ant-modal-confirm-content {
  margin: 0;
  margin-top: 1em;
}

.public-profile-send-message {
  bottom: 0;
  position: absolute;
  text-align: center;
  width: 3em;
  width: fit-content;
  margin: 0 auto;
  left: 0;
  right: 0;
  margin-bottom: 1em;
  /* background-color: white; */
  border-radius: 20px;
  color: #1890ff;
  font-weight: 400;
  font-size: 0.8em;
}

.message-span.profile {
  background-color: white;
  color: black;
}

.message-span.profile.follow {
  min-width: 8em;
  display: inline-block;
}

.message-span.profile.follow.following {
  background-color: #1890ff;
  color: white;
}

.follow-tick-mark {
  display: inline-block;
  padding-left: 0.5em;
}

.public-profile-send-message {
  cursor: pointer;
}

.user-data-dp-div-mobile {
  content: "";
  height: 15em;
  width: 15em;
  border-radius: 50%;
  margin: auto;
  display: none;
  visibility: hidden;
  background-size: cover;
  position: relative;
  box-shadow: 0 0px 34px rgba(0, 0, 0, 0.671);
  background-position: center;
}
.bio-links-mobile {
  display: none;
  visibility: hidden;
}

.change-cover-div {
  position: absolute;
  top: 4.5em;
  right: 1em;
  background-color: rgba(255, 255, 255);
  border-radius: 20px;
  padding: 0.2em;
  padding-right: 0.7em;
  padding-left: 0.7em;
  text-align: center;
  padding-bottom: 0.3em;
  font-size: 0.8em;
  cursor: pointer;
}

.ql-tooltip {
  z-index: 10;
}

.bg-individual-image-div {
  display: inline-block;
  width: 22%;
  height: 8em;
  margin: 0.5em;
  max-width: 15em;
  background-size: cover;
  cursor: pointer;
}

.profile-description-mobile{
  display: none;
  visibility: hidden;
}

@media (max-width: 701px) {
  .bio-description{
    color: black;
    padding: 0.5em;
  }
  .profile-description-mobile{
    display: block;
    visibility: visible;
  }
  .message-span.profile.follow{
    min-width: 7em;
  }
  .bg-individual-image-div {
    width: 30%;
  }
  .bio-links-mobile {
    display: inline-block;
    visibility: visible;
  }
  .public-profile-send-message {
    padding: 0.2em;
  }
  .user-data-dp-div-mobile {
    display: block;
    visibility: visible;
  }
  .bio-content {
    margin-left: 0;
  }
  .top-cover-content-div-inner {
    padding-left: 0em;
    padding-top: 5em;
    text-align: center;
  }
  .user-name {
    font-size: 2em;
  }
  .user-points {
    font-size: 1.3em;
    margin: 0 !important;
    margin: auto !important;
    margin-top: 1em !important;
  }
  .bio-first-col {
    visibility: hidden;
    display: none;
  }
  .first-col {
    visibility: hidden;
    display: none;
  }
  .profile-first-row {
    visibility: hidden;
    display: none;
  }
  .public-profile-main-div {
    visibility: hidden;
    display: none;
  }
}

@media (min-width: 1500px) {
  .bio-content{
    margin-left: 30.5%;

  }
  .top-cover-content-div-inner{
    padding-left: 31.5%;
    
  }
}

@media (max-width: 575px) {
  .bio-individual-question-title {
    font-size: 1.0em;
  }
  .bio-individual-answer-question-title{
    font-size: 1.0em;
  }
}

@media (max-width: 501px) {
  .top-cover-content-div-inner {
    padding-left: 0em;
    text-align: center;
  }
  .user-points {
    font-size: 1.3em;
    margin: auto !important;
    margin-top: 1em !important;
  }
  .bio-first-col {
    font-size: 1em;
    padding: 0;
    margin-left: 0.5em;
    width: 12em;
    max-width: 12em;
  }
  .public-profile-main-div .first-col {
    padding-right: 0;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .bio-content {
    font-size: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: 0em;
    text-align: left;
  }
  .user-details-bio {
    padding-left: 0.5em;
  }
  .user-name {
    font-size: 1.5em;
    text-align: center;
  }
  .dp-outer-div {
    padding: 0.5em;
  }
}

@media (max-width: 601px) {
  .bg-individual-image-div {
    width: 46%;
    margin: 0.2em;
    margin-bottom: 0;
    margin-top: 0;
  }
}

@media (max-width: 350px) {
  .bg-individual-image-div {
    width: 100%;
    margin: 0.2em;
    margin-bottom: 0;
    margin-top: 0;
  }
}

.public-profile-main-wrapper {
  height: 100%;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  background-color: #e6e6e6;
  /* z-index: 1; */
}

.public-profile-main-wrapper.dark {
  background-color: black;
}

.user-rating {
  display: inline-block;
  vertical-align: text-bottom;
}

.user-rating .ant-rate{
  font-size: 0.9em;
  vertical-align: middle !important;
  padding-bottom: 0.4em !important;
}

.user-rating li:last-child {
  margin: 0;
}

.bg-image-chooser-button-div {
  /* position: fixed; */
  /* bottom: 2em;
  right: 10em; */
  /* background-color: white; */
  color: white;
  width: 2em;
  height: 2em;
}

.profile-user-created {
  font-size: 0.9em;
  font-weight: 400;
}

@media (max-width: 1060px) {
  .user-points {
    display: block;
    position: relative;
    margin-left: 0;
    width: fit-content;
    margin-top: 1em;
  }
}

@media (max-width: 715px) {
  /* .profile-user-created {
    position: inherit;
  } */
}
