.reset-forgot-pwd-main-div {
  background-color: white;
  margin-top: 5em;
  height: 24em;
  border: 1px solid #e6e6e6;
}

.reset-forgot-pwd-inner-div {
  padding-top: 3em;
  font-size: 1em;
  height: 5em;
  width: 30em;
  margin-top: 10em;
  text-align: center;
  display: block;
  margin: 0 auto;
  top: 0;
  bottom: 0;
}

.reset-forgot-pwd-input-div{
    margin-bottom: 2em;
}