.notif-icon {
  margin-right: 1em;
}

.notif-icon-div {
  padding-top: 0.5em;
  display: inline-block;
  margin: 0 auto;
}

.search-icon-div {
  /* display: none; */
  /* display: table; */
  max-width: 21.3em;
  margin: -0 auto;
  padding-right: 2em;
  padding-left: 1em;
}

.search-span {
  border-radius: 20px;
  margin: 0.2em;
  border: 1px solid #e6e6e6 !important;
  background-color: #ffffff79;
  padding: 0.3em;
}

.search-min-icon {
  width: 1.5em;
  height: 1.5em;
  padding-bottom: 0.2em;
}

.search-icon-div-min {
  padding-top: 0.5em;
  cursor: pointer;
  margin-left: 50%;
}

/* .search-icon-div.dark .ant-input{
  background-color: #d5d5d5 !important;
  color: black !important;
}

.search-icon-div.dark .ant-input::placeholder{
  color: black !important;
} */

.gsc-control-cse{
  padding: 0 !important; 
  background-color: #ffffff00 !important;
  border: none !important;
}

.gsc-search-button-v2{
  padding: 0 !important;
  height: 32px !important;
  width: 30px !important;
  border-radius:  0px !important;
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  background-color:  #ffffff00 !important;
  border: 1px solid #d9d9d9 !important;
  border-left-color:  #ffffff00 !important;
  cursor: pointer;
}

.gsc-input{
  padding: 0 !important;
  border: none !important;
  /* border-top-left-radius: 4px !important; */
  background-color: #ffffff00 !important;
}

.gsib_a{
  padding: 0 !important;
  height: 30px !important; 
}

.gsc-input-box{
  border-left: 1px solid #d9d9d9 !important;
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
  padding-left: 0.5em !important;
  background-color: #ffffff79 !important;
}

.gsc-search-button{
  padding: 0 !important;
  margin: 0 !important;
}

.gsc-search-button-v2 svg {
  fill: rgba(0,0,0,.45) !important;
}

.search-icon-div.dark .gsc-search-button-v2 svg {
  fill: white !important;
}

.gsst_a .gscb_a{
  vertical-align: middle !important;
}

.g-search-box-mobile{
  position: fixed;
  top: 0;
  left: 0px;
  background-color: white;
  z-index: 9;
}

/* .g-search-box-mobile .gsc-input-box{
  padding-left: 50px !important;
} */

.g-search-box-mobile tr > .gsc-input{
  padding-left:50px !important;
}

.g-search-box-mobile .gsc-search-button-v2{
  height: 47px !important;
  width: 50px !important;
  background-color: #1890ff !important;
  border: none !important;
}

.mobile-search-closer{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 52px;
  border: 1px solid #d9d9d9;
  border-right: 0px;
  margin-top: 1px;
  margin-left: 1px;
  height: 47px;
  text-align: center;
  vertical-align: middle;
  padding-top: 10px;
  cursor: pointer;
}

.gsc-input-box{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.g-search-box-mobile .gsc-input-box{
  padding-top: 7px !important;
}

.g-search-box-mobile .gsc-results-wrapper-overlay{
  top: 50px;
  width: 90%;
  left: 5%;
}

.g-search-box-mobile .gsc-search-button-v2 svg {
  fill: white !important;
}

form.gsc-search-box{
  margin-bottom: 0 !important;
}

table.gsc-search-box{
  margin-bottom: 0 !important;
}

@media (max-width: 575px) {
  .notif-icon{
    margin-right: 0;
  }
  .search-icon-div {
    display: none;
  }
  .gsc-input-box{
    height: 47px;
  }
  .gsc-input-box{
    border-radius: 0px !important;
  }
  .gsc-search-button-v2{
    border-radius: 0px !important;
  }
  .gsc-control-cse{
    border: 1px solid #fff !important;
  }
}

@media (min-width: 576px) {
  .search-icon-div-min {
    display: none;
  }
}
