.signup-row {
  z-index: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.signup-col {
  background-color: #ffffffd5;
  border: 1px solid #e6e6e6;
  height: 85%;
  min-height: 40em;
  border-radius: 4px !important;
  padding: 2em;
  text-align: center;
}

.signup-field {
  margin-bottom: 2em;
  margin-right: 1em;
  margin-left: 1em;
  max-width: 20em;
}

.gender-select {
  min-width: 10em;
}

.terms-div {
  margin: 1em;
}
