.hljs {
	display: block;
	overflow-x: auto;
	padding: 0.5em;
	background: #eee;
	color: black
}

.hljs-link,
.hljs-emphasis,
.hljs-attribute,
.hljs-addition {
	color: unset
}

.hljs-emphasis {
	font-style: unset
}

.hljs-strong,
.hljs-string,
.hljs-deletion {
	color: unset
}

.hljs-strong {
	font-weight: unset
}

.hljs-quote,
.hljs-comment {
	color: unset;
	font-style: unset
}

.hljs-section,
.hljs-title {
	color: unset
}

.hljs-class .hljs-title,
.hljs-type {
	color: unset
}

.hljs-variable,
.hljs-template-variable {
	color: unset
}

.hljs-bullet {
	color: unset
}

.hljs-meta {
	color: unset
}

.hljs-code,
.hljs-number,
.hljs-literal,
.hljs-keyword,
.hljs-selector-tag {
	color: unset
}

.hljs-regexp {
	background-color: unset;
	color: unset
}

.hljs-symbol {
	color: unset
}

.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
	color: unset
}

/* overrides */

.ql-snow .ql-editor pre.ql-syntax{
    background-color: #eceff1;
    color: black;
}

.ql-syntax{
    color: black
}

.hljs {
	display: block;
	overflow-x: auto;
	padding: 0.5em;
	background: #eee;
	color: black
}
.ql-syntax .hljs-link,
.ql-syntax .hljs-emphasis,
.ql-syntax .hljs-attribute,
.ql-syntax .hljs-addition {
	color: #070
}

.ql-syntax .hljs-emphasis {
	font-style: italic
}

.ql-syntax .hljs-strong,
.ql-syntax .hljs-string,
.ql-syntax .hljs-deletion {
	color: #d14
}

.ql-syntax .hljs-strong {
	font-weight: bold
}

.ql-syntax .hljs-quote,
.ql-syntax .hljs-comment {
	color: #998;
	font-style: italic
}

.ql-syntax .hljs-section,
.ql-syntax .hljs-title {
	color: #900
}

.ql-syntax .hljs-class 
.ql-syntax .hljs-title,
.ql-syntax .hljs-type {
	color: #458
}

.ql-syntax .hljs-variable,
.ql-syntax .hljs-template-variable {
	color: #336699
}

.ql-syntax .hljs-bullet {
	color: #997700
}

.ql-syntax .hljs-meta {
	color: #3344bb
}

.ql-syntax .hljs-code,
.ql-syntax .hljs-number,
.ql-syntax .hljs-literal,
.ql-syntax .hljs-keyword,
.ql-syntax .hljs-selector-tag {
	color: #099
}

.ql-syntax .hljs-regexp {
	background-color: #fff0ff;
	color: #880088
}

.ql-syntax .hljs-symbol {
	color: #990073
}

.ql-syntax .hljs-tag,
.ql-syntax .hljs-name,
.ql-syntax .hljs-selector-id,
.ql-syntax .hljs-selector-class {
	color: #007700
}