.terms-main-div {
  height: 4em;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.747);
  border-top: 1px solid #8888884d;
  position: relative;
  bottom: 0;
  z-index: 10;
  padding-top: 0.5em;
  padding-bottom: 0em;
}

.terms-inner-div{
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

.terms-inner-div a{
    color: rgba(128, 128, 128, 0.699);
}

.terms-inner-div p{
    color: rgba(128, 128, 128, 0.699);
    margin-bottom: 0;
}

.terms-divider-span{
    padding-left: 0.5em;
    padding-right: 0.5em;
}
