.terms-mini-main-div {
  height: 2em;
  width: 100%;
  position: relative;
  bottom: 0;
  z-index: 100;
  padding-top: 1em;
  padding-bottom: 0.5em;
  text-align: center;
}

.terms-mini-main-div a {
  color: rgba(177, 177, 177, 0.801);
}

.terms-mini-main-div p {
  color: rgba(177, 177, 177, 0.801);
}

.terms-mini-divider-span {
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: rgba(177, 177, 177, 1);
}
