.verify-email-main-div {
  background-color: white;
  margin-top: 5em;
  height: 15em;
  border: 1px solid #e6e6e6;
}

.verify-email-inner-div {
  padding-top: 5em;
  font-size: 1em;
  height: 5em;
  width: 40em;
  max-width: 100%;
  margin-top: 10em;
  text-align: center;
  display: block;
  margin: 0 auto;
  top: 0;
  bottom: 0;
}
