.answer-vote-negative {
  margin-left: 0.3em;
  font-size: 1.3em;
  text-align: center;
  padding-right: 0.1em;
  color: rgb(167, 0, 0);
}

.answer-vote-negative.dark {
  color: red;
}

.answer-vote-positive {
  margin-left: 0.3em;
  font-size: 1.3em;
  text-align: center;
  padding-right: 0.1em;
  color: rgb(0, 167, 0);
}

.answer-vote-positive.dark {
  color: rgb(0, 200, 0);
}

.answer-vote {
  text-align: center !important;
  font-size: 1.3em;
  text-align: center;
  padding-right: 0.1em;
}

.answer-vote.dark {
  color: white;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid rgba(0, 0, 0, 0.52);
  cursor: pointer;
}

.feed-arrow-up {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid rgba(128, 128, 128, 0.699);
  cursor: pointer;
}

.feed-arrow-up-glow {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid #1890ff;
  cursor: pointer;
}

.feed-arrow-down {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid rgba(128, 128, 128, 0.699);
  cursor: pointer;
}

.feed-arrow-down-glow {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid #1890ff;
  cursor: pointer;
}

.feed-upvote-div{
  cursor: pointer;
  display: inline-block;
  /* border: 1px solid #e6e6e6; */
  border-radius: 4px;
  padding: 0.5em;
  padding-bottom: 0.3em;
  margin-right: 1em;
}

.feed-upvote-div-text{
  margin-left: 0.2em;
  display: inline-block;
  vertical-align: text-bottom;
  color: rgba(128, 128, 128, 0.699);
}

.feed-upvote-div-text.glow{
  color: #1890ff;
}

.arrow-up.dark {
  border-bottom-color: rgba(255, 255, 255, 0.747);
}

.arrow-down.dark {
  border-top-color: rgba(255, 255, 255, 0.747);
}

.arrow-up-glow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid #1890ff;
  cursor: pointer;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid rgba(0, 0, 0, 0.52);
  cursor: pointer;
}

.arrow-down-glow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid #1890ff;
  cursor: pointer;
}
